*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: #2980b9;
  /* position: relative; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* display: grid;
  place-items: center; */
  
}
.main{
  width: 60vw;
  height: 90vh;
  background-color: aliceblue;
  border-radius: 10px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 10px black;
}
.header{
  width: 100%;
  height: auto;
  background-color: #f201f4;
  margin-top: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 2vw;
  font-weight: bold;
}
.quizeArea{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.quizeContent{
 margin-top: 50px;
 padding: 10px;
}
.btn{
  background-color: #2980b9;
  height: auto;
  padding: 10px;
  margin-top:5px;
  color: aliceblue;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  display: grid;
  place-items: center;
  width:30vw;

}
.btn:hover{
  background-color: green;
  cursor: pointer;
}


.btnCenter{
  display: grid;
  place-items: center;
  margin-top: 20px;
}
.question{
  text-align: center;
  font-size: 1vw;
  font-weight: bold;

}